.autocomplete {
  max-height: 150px !important;
  border-radius: 0 0 4px 4px;
  border-top: 0;
  border-color: $red;

  div {
    background: #fff;
    padding: 8px;
    border-color: #cecece;

    &:hover {
      background: $red;
      color: #fff;
    }

    &.selected {
      background: $red;
      color: #fff;
    }
  }
}

.autocomplete>div:hover:not(.group) {
  background: lighten($red, 10);
}

.autocomplete>div.selected {
  background: $red;
  color: #fff;
}




input.is-autocomplete {
  background: url("../assets/down.svg") no-repeat calc(100% - 11px) center;
  padding-right: 44px;
}
