.modal {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  display: block;
  margin: 0 auto;
  color: #333;
  max-height: 794px;
  max-width: 555px;
  width: auto;
  height: calc(100% - 40px);
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  opacity: 1;
  visibility: visible;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: translateY(-50%);
  //padding-bottom: 61px;
}


.modal__head {
  height: 61px;
  background: #fff;
  width: 100%;
}

.modal__head-content {
  font-family: 'SF Text', -apple-system, Roboto, Arial, san-serif;
  height: 32px;
  padding: 14px 32px 16px 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-bottom: 61px;
}

.modal__close {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9Ii0xLjUiIHgyPSIzMCIgeTI9Ii0xLjUiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MTA3IC0wLjcwNzEwNyAwLjcxMzg3OCAwLjcwMDI3IDMgMjQuMDUwOCkiIHN0cm9rZT0iIzgyODI4MiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSItMS41IiB4Mj0iMzAiIHkyPSItMS41IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcwNzEwNyAwLjcwNzEwNyAwLjcxMzg3OCAtMC43MDAyNyAzLjE1MTk4IDEpIiBzdHJva2U9IiM4MjgyODIiIHN0cm9rZS13aWR0aD0iMyIvPgo8L3N2Zz4K");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: (26/34 * 100) * 1%;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  right: 22px;
  top: 22px;
  padding: 8px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.modal__close:after {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__content {
  overflow: hidden;
  height: calc(100% - 61px);
  margin: 0 auto;
  padding-right: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-bottom: 60px;
}

.modal__content-inner {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 16px 0 32px;
}

.modal__content {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, san-serif;
  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 18px;
  }

  ol {
    padding-left: 40px;
    margin-bottom: 18px;
  }
}

.modal__content > p, .modal__content > ul {
  font-size: 15px;
  line-height: 22px;
}

@include mobile() {
  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: unset;
    max-width: unset;
  }

  .modal__content {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 18px;

    h4 {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }
  }

}

