.bottom {
    .wrapper {
        padding: em(39) em(73) em(69) em(69);
    }
}

.form-header {
    // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: em(24);
    line-height: em(24, 29);
    letter-spacing: 0.0146em;
    color: #373737;
    margin-bottom: em(33,24);
}

.form {
    display: flex;

    .left, .right {
        flex: 1;
    }

    .left {
        margin-right: 9px;
    }

    .right {
        margin-left: 9px;
    }
}

.agree-checkbox {
    a {
        color: $dark;

        &:hover {
            color: darken($dark, 10);
        }
    }
}

@include mobile() {
    .bottom {
        .wrapper {
            padding: 24px 20px;
        }
    }

    .form-header {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0146em;
        margin-bottom: 13px;
    }

    .form {
        flex-direction: column;
        position: relative;

        .left {
            margin-right: 0;
        }

        .right {
            margin-left: 0;
        }

        .agree-checkbox {
            position: absolute;
            bottom: 76px;
        }

        .email-control {
            margin-bottom: 100px;
        }
    }

    #city-control {
        margin-bottom: 96px;
    }

    #lastname-control {
        position: absolute;
        top: 328px;
        width: 100%;
    }
}
