.bottom {
    .wrapper {
        padding: em(39) em(73) em(69) em(69);
    }
}

.form-header {
    // font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: em(24);
    line-height: em(24, 29);
    letter-spacing: 0.0146em;
    color: #373737;
    margin-bottom: em(33,24);
}

.form {
    .left, .right {
        flex: 1;
    }

    .left {
        margin-right: 9px;
    }

    .right {
        margin-left: 9px;
    }
}

.agree-checkbox {
    a {
        color: $dark;

        &:hover {
            color: darken($dark, 10);
        }
    }
}

.form-row {
    display: flex;

    &__item {
        flex: 1;

        &:first-child {
            margin-right: 9px;
        }

        &:last-child {
            margin-left: 9px;
        }

    }

}

@include mobile() {
    .bottom {
        .wrapper {
            padding: 24px 20px;
        }
    }

    .form-header {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0146em;
        margin-bottom: 13px;
    }

    .form {
        flex-direction: column;
        position: relative;

        .left {
            margin-right: 0;
        }

        .right {
            margin-left: 0;
            margin-top: 82px;
        }

        //.agree-checkbox {
        //    position: absolute;
        //    bottom: 76px;
        //}
        //
        //.email-control {
        //    margin-bottom: 100px;
        //}
    }

    //#region-control {
    //    margin-bottom: 96px;
    //}
    //
    //#city-control {
    //    position: absolute;
    //    top: 82px;
    //    width: 100%;
    //}
    //
    //#lastname-control {
    //    position: absolute;
    //    top: 328px;
    //    width: 100%;
    //}

    @for $i from 1 through 9 {
        .mobile-order-#{$i} {
            position: absolute;
            top: 82 * ($i - 1) * 1px;
            width: 100%;
        }
    }


    .form-row {
        flex-direction: column;

        &__item {
            flex: 1;

            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-left: 0;
            }

        }

    }
}
