.middle {
    background: $red;
    height: 332px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;

    .wrapper {
        padding-left: em(293);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -229px;
            top: 13px;
            background: url("../assets/rotated_stripes.png") no-repeat;
            width: 229px;
            height: 342px; 
        }
    }
}

.message {
    width: em(813);
    color: #fff;
    padding: em(50) 0 0;

    &__header {
        font-family: Gilroy;
        font-weight: 500;
        font-size: em(24);
        line-height: em(24, 28);
        margin-bottom: em(24,24);
    }

    &__row {
        font-family: Gilroy;
        font-size: em(18);
        line-height: em(21);
        margin-bottom: em(20,18);

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include netbook() {
        width: 100%;
        padding-right: 40px;
        padding-top: 40px;
    }
}

.stripes {
    position: absolute;
    left: 0;
    top: 0;
    background: url("../assets/stripes.png") no-repeat;
    width: 229px;
    height: 342px; 
}

@include mobile() {
    .middle {
        box-shadow: none;
        height: auto;

        .wrapper {
            padding-left: 0;
            position: relative;

            &::before {
                display: none;
            }
        }
    }

    .message {
        padding: 12px 20px;
        width: 100%;
    }

    .stripes {
        display: none;
    }
}
