.success-message {
    margin-bottom: 40px;

    h4 {
        color: $red;
    }

    p {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .btn {
        width: 50%;
    }
}