.top {
  background: url("../assets/water.png") no-repeat center center;
  background-size: cover;
  height: 377px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    background: $gray;
    height: 100%;
    z-index: 2;
  }

  .wrapper {
    position: relative;
    display: flex;
  }
}


.x-logo {
  background: url("../assets/x-logo.png") no-repeat center center;
  width: 472px;
  height: 377px;
  position: relative;
  z-index: 5;
  margin-left: -9px;

  &:after {
    content: "";
    position: absolute;
    display: block;
    background: url("../assets/big-vector.svg") no-repeat center center;
    width: 942px;
    height: 377px;
    right: -816px;
  }
}

.logo {
  width: 104px;
  height: 52px;
  position: absolute;
  top: 49px;
  right: 70px;
  z-index: 5;
}


$triangleWidth: 126px;

.top__text {
  padding: em(71) em(54) 0;
  background: $gray;
  position: relative;
  flex: 1;
  z-index: 5;

  &-main {
    font-family: Gilroy;
    font-size: em(64);
    line-height: em(74, 64);
    color: #fff;
    margin-bottom: em(36, 64);
  }

  &-conference {
    font-family: Gilroy;
    font-weight: 500;
    font-size: em(36);
    line-height: em(42, 36);
    color: #fff;
    margin-bottom: em(25, 36);
  }

  &-date {
    font-family: Gilroy;
    font-size: em(30);
    line-height: em(35, 30);
  }
}


@include mobile() {
  .top {
    height: 142px;

    &::after {
      display: none;
    }
  }

  .x-logo {
    width: 224px;
    height: 141px;
    background-size: cover;
    margin-left: -9px;
    position: relative;
    background: url("../assets/x-logo-mobile.png") no-repeat center center;
    $triangleWidth: 62px;

    &:after {
      content: "";
      position: absolute;
      display: block;
      background: url("../assets/Vector.svg") no-repeat center center;
      height: 142px;
      width: 162.5px;
      right: -99px;
    }
  }

  .logo {
    width: 43px;
    height: 21px;
    top: 11px;
    right: 13px;
  }

  .top__text {
    padding: 60px 0 59px;

    &:before {
     display: none;
    }

    &-main {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 0;
    }

    &-conference {
      display: none;
    }

    &-date {
      display: none;
    }
  }
}
