@import "variables";

@function em($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@import "gilroy";
@import "sf";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  font-family: 'SF Text', -apple-system, BlinkMacSystemFont, san-serif;
  font-size: $baseFontSize;
  padding: 0;
  color: #000;
  margin: 0;
  background-color: #FFFFFF;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}


ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0;
}

ol ol ol {
  padding-left: 16px;
}

ul, ul ul, ul ul ul {
  padding-left: 16px;
}

li {
  margin-top: 0.5em;
  line-height: 1.2;
  margin-left: 0.2em;
}


ol>li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.footnote {
  margin-top: 1rem;
  font-size: 0.75rem;
  line-height: 1.1;
  color: #888;
}

.level1:before {
  content: '';
}

.mt8 {
  margin-top: 8px;
}

.loader-overlay {
  background: rgba(255,255,255,0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@import "./blocks/top";
@import "./blocks/middle";
@import "./blocks/bottom";

@import "./components/buttons.scss";
@import "./components/form-control.scss";
@import "./components/modal.scss";
@import "../../node_modules/autocompleter/autocomplete.min.css";
@import "./components/autocomplete";
@import "./components/loader";


.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #EFEBEB;
  width: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C4C4C4;
  width: 6px;
}