@import "variables";
@import "fonts/gilroy";
@import "fonts/sf";
@import "fonts/roboto";

@function em($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin mobile() {
  @media screen and (max-width: 768px) {
    @content
  }
}

@mixin netbook() {
  @media screen and (max-width: 1250px) {
    @content
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  font-family: 'SF Text', -apple-system, BlinkMacSystemFont, san-serif;
  font-size: $baseFontSize;
  padding: 0;
  color: #000;
  margin: 0;
  background-color: #FFFFFF;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.loader-overlay {
  background: rgba(255,255,255,0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #EFEBEB;
  width: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C4C4C4;
  width: 6px;
}

@import "./blocks/top";
@import "./blocks/middle";
@import "./blocks/bottom";
@import "./blocks/success-modal";
@import "./blocks/mobile-conference";

@import "./components/buttons.scss";
@import "./components/form-control.scss";
@import "./components/modal.scss";
@import "../../node_modules/autocompleter/autocomplete.min.css";
@import "./components/autocomplete";
@import "./components/loader";
@import "../../node_modules/choices.js/src/styles/choices";
@import "./components/choices";

@include mobile() {
  body {
    font-size: 12px;
  }

  .wrapper {
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    background: initial;
    width: initial;
  }
}

@include netbook() {
  .wrapper {
    width: 100%;
  }
}
